@font-face {
    font-family: 'gotmilk'; 
    src: url('/static/assets/Gotmilk-Font.ttf') format('truetype');
  }

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
    max-width: 80%; /* Set a maximum width of 80% of the viewport width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0px;
    color: 	#451800;
}

.jumbotron {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 70px;
}

.jumbotron img {
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0px;
}

.jumbotron h1{
    display: inline-block;
    font-size: 70px;
    font-family: 'gotmilk', sans-serif;
    letter-spacing: -2px;
    color: 	#451800;
}

.jumbotron h3{
    font-family: 'gotmilk', sans-serif;
    font-size: 40px;
    color: 	#451800;
}

#main {
    display: flex;
    flex-wrap: column;
    box-sizing: border-box;
    padding: 0px;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    color: 	#451800;
}

#links {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 20px;
    margin-bottom: 15px;
    width: 20%;
    color: 	#451800;
}

#machine-learning {
    border: 2px solid #694b4b;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    padding: 20px;
    background-color: #ffcbc4;
}

#links-box {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid #694b4b;
    border-radius: 10px;
    background-color: #feddcb;
    color: 	#451800;
}


#links p{
    margin: 5px;
    color: 	#451800;
}

#journey {
    width: 100%;
    margin: 0px;
    padding: 20px;
    gap: 20px;
<<<<<<< HEAD
    border: 2px solid #694b4b;
=======
    border: 1px solid #fdbb9f;
>>>>>>> 9ad1126a77718433946d403b2248bb8be8a2e7a1
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #feddcb;
    color: 	#451800;
}

#journey p{
    margin-left: 20px;
    line-height: .75;
}

#journey h6{
    margin-left: 30px;
}

.code {
    background-color: #ffcbc4;
    border: 1px solid #694b4b;
    padding: 10px;
    font-family: monospace; /* Use a monospace font for code */
    color: white;
    border-radius: 5px;
    margin: 10px;
}