#results {
    width: 45%;
    border: 1px solid #ffb27b;
    border-radius: 10px;
    margin: 20px auto 0;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#checkEdible {
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center center;
    border: none;
    color: white;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    /* min-width: 300px;
    min-height: 50px; */

    max-width: 60%;
}

#checkEdible img {
    /* Center the image horizontally and vertically within the button */
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-color: #ffa7a6;
}


#results-graphic {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 10px;
    width: 80%;
    /* height: 500px; */
    overflow: hidden;
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 0px;
}

#results-graphic img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    margin: 0px;
    border: 3px solid #ff9899;
    border-radius: 10px;
}

#disclaimer {
    text-align: left; 
}