.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
    max-width: 80%; /* Set a maximum width of 80% of the viewport width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0px;
}

.container {
    width:100%;
    margin: 0px;
}

.jumbotron {
    margin-top: 20px;
    width: 75%;
}


#summary {
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
}

#summary h3{
    margin-left: 20px;
    margin-top: 10px;
}

#main {
    display: flex;
    flex-wrap: column;
    box-sizing: border-box;
    padding: 0px;
    gap: 10px;
    width: 100%;
}

#facts {
    display:flex;
    flex-direction: column;
    width: 20%;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 500px;
    margin-right: 0px;
    padding: 0px;
}

#facts-border {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
}


#facts-border h5{
    margin-left: 5px;
    margin-top: 20px;
}

#facts-border li{
    margin-left: 10px;
}


#input-panel {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    width: 35%;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
}

#input-panel h5{
    margin-left: 10px;
    margin-top: 20px;
}

#categories {
    display: flex;
    flex-direction: column; /* Display items in a column */
    gap: 5px; /* Adjust the gap between label and dropdown containers as needed */
  }
  
  /* Style the labels to have a fixed width */
.categorical-item label {
    width: 200px; 
    display: inline-block; /* Keep labels in a block to respect the width */
    text-align: left; /* Align labels to the right */
    margin-right: 10px; /* Add some spacing between label and dropdown */
  }
  
  /* Style the select elements to have a consistent width */
.categorical-item select {
    width: 35%; /* Ensure the select element fills its container */
  }

#checkEdible {
    margin-top: 10px;
    width: 60%;
    margin-bottom: 20px;
}

#predefined_mushrooms {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next row */
    justify-content: flex-start; /* Start buttons from the left */
}

.mushroom-button{
    min-width: 50px;
    min-height: 50px;
    height: 150px;
    width: 150px;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center center;
    padding: 10px; /* Adjust padding as needed */
    margin: 5px; /* Add margin for spacing */
    cursor: pointer;
    color: transparent;
    text-align: center; /* Center text horizontally */
    transition: color 0.3s;
}

.mushroom-button:hover {
    color: white; /* Show the text on hover */
}

#results {
    width: 45%;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
}