@font-face {
    font-family: 'gotmilk'; 
    src: url('/static/assets/Gotmilk-Font.ttf') format('truetype');
  }

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
    max-width: 80%; /* Set a maximum width of 80% of the viewport width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0px;
}

.container {
    width:100%;
    margin: 0px;
    outline-color: 	brown ;
    background-color: #feddcb ;
}

.jumbotron {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 70px;
}

.jumbotron img {
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0px;
}

.jumbotron h1{
    display: inline-block;
    font-size: 70px;
    font-family: 'gotmilk', sans-serif;
    letter-spacing: -2px;
    color: 	#451800;
}

#summary {
    border: 2px solid #694b4b;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    padding: 20px;
    background-color: #ffcbc4;
    margin-top: 0px;
}

#summary h3{
    margin-left: 20px;
    color: 	#451800;
}

#main {
    display: flex;
    flex-wrap: column;
    box-sizing: border-box;
    padding: 0px;
    gap: 10px;
    width: 100%;
}

#facts {
    display:flex;
    flex-direction: column;
    width: 20%;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 500px;
    margin-right: 0px;
    padding: 0px;
}

#facts-border {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #694b4b;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    background-color: #feddcb;
}

#facts-border p{
    margin-right: 15px;
    margin-left: 20px;
    line-height: .75;
    border-color: 	#ff9899;
    color: 	#451800;
    background-color: #feddcb;
}

#facts-border h6{
    margin-top: 10px;
    margin-left: 15px;
    color: 	#451800;
    background-color: #feddcb;
}



#facts-border h5{
    margin-left: 15px;
    margin-top: 20px;
    background-color: #feddcb;
    color: 	#451800;
}

#facts-border li{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #feddcb;
    color: 	#451800;
}



#links {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #694b4b;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #feddcb;
    color: 	#451800;
}

#links p{
    margin: 5px;
    color: 	#451800;
}

#input-panel {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    width: 35%;
    border: 2px solid #694b4b;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color:#feddcb ;
}

#input-panel h5{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: 	#451800;

}

#categories {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    width: 100%;
    padding: 10px;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */

  }
  
  
.categorical-item label {
    width: 200px; 
    display: inline-block; 
    text-align: left;
    margin-left: 0px;
    padding-left: 2px;;
    background-color: #ffcbc4;
    color: 	#451800;
    border: 1px solid #694b4b;
    border-radius: 5px;
  }
  
  /* Style the select elements to have a consistent width */
.categorical-item select {
    width: 35%; /* Ensure the select element fills its container */
    border-radius: 5px;
    background-color: #fdbeb6;
  }

#checkEdible {
    margin-top: 10px;
    width: 60%;
    margin-bottom: 20px;
}



#predefined_mushrooms {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center;
}

.mushroom-button{
    min-width: 50px;
    min-height: 50px;
    height: 150px;
    width: 150px;
    background-color: #ffcbc4;;
    background-size: 95%;
    background-repeat: no-repeat; 
    background-position: center center;
    margin: 5px; 
    cursor: pointer;
    color: transparent;
    text-align: center; 
    transition: color 0.3s;
    border-radius: 5px;
    border: 2px solid #694b4b;
}

.mushroom-button:hover {
    color: white; 
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
#results {
    width: 45%;
    border: 2px solid #694b4b;
    border-radius: 10px;
    margin: 20px auto 0;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#checkEdible {
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center center;
    border: none;
    color: white;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    /* min-width: 300px;
    min-height: 50px; */

    max-width: 60%;
}

#checkEdible img {
    /* Center the image horizontally and vertically within the button */
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-color: #ffa7a6;
}


#results-graphic {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 10px;
    width: 80%;
    /* height: 500px; */
    overflow: hidden;
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 0px;
}

#results-graphic img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    margin: 0px;
    border: 3px solid #694b4b;
    border-radius: 10px;
}

#disclaimer {
    text-align: left; 
}

#results-text {
    font-weight: bold;
    color:  #694b4b;
}