#mushroom-container {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
}

/* Style the main container */
#categories {
    display: flex;
    flex-direction: column; /* Display items in a column */
    gap: 20px; /* Adjust the gap between label and dropdown containers as needed */
  }
  
  /* Style the labels to have a fixed width */
  .categorical-item label {
    width: 200px; 
    display: inline-block; /* Keep labels in a block to respect the width */
    text-align: right; /* Align labels to the right */
    margin-right: 10px; /* Add some spacing between label and dropdown */
  }
  
  /* Style the select elements to have a consistent width */
  .categorical-item select {
    width: 20%; /* Ensure the select element fills its container */
  }
  