@font-face {
    font-family: 'gotmilk'; 
    src: url('/static/assets/Gotmilk-Font.ttf') format('truetype');
  }

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
    max-width: 80%; /* Set a maximum width of 80% of the viewport width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0px;
    color: 	#451800;
}

.container {
    width:100%;
    margin: 0px;
}

.jumbotron {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    
    font-stretch: condensed;
    font-weight: bold;
    font-size: 70px;
}

.jumbotron img {
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0px;
}

.jumbotron h1{
    display: inline-block;
    font-size: 70px;
    font-family: 'gotmilk', sans-serif;
    letter-spacing: -2px;
    color: 	#451800;
}

.jumbotron h3{
    font-family: 'gotmilk', sans-serif;
    font-size: 40px;
    color: 	#451800;
}

#links {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 20px;
    margin-bottom: 15px;
    width: 20%;
    color: 	#451800;
}

#main {
    display: flex;
    flex-wrap: column;
    box-sizing: border-box;
    padding: 0px;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    color: 	#451800;
}

#links-box {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #afddd5;
    border-radius: 10px;
    color: 	#451800;
    background-color: #cee8e5;
}

#links p{
    margin: 5px;
}

#visuals {
    width: 100%;
    margin: 0px;
    padding: 20px;
    gap: 20px;
    border: 1px solid #fdbb9f;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #feddcb;
}

.analysis {
    width: 80%;
    background-color: #ffcbc4;
    border: 1px solid #ff9899;
    padding: 10px;
    color: 	#451800;
    border-radius: 5px;
    margin: 10px;
}

.comparison {
    display: flex;
    justify-content: space-between; /* This will create space between the images */
}

.comparison img {
    display: inline-block; /* Set images to display inline */
    max-width: 49%; /* To ensure they fit side by side and allow some spacing */
}

.legend {
    /* width: 50%; */
    background-color: #ffcba5;
    border: 1px solid #ffb27b;
    padding: 10px;
    color: 	#451800;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: .75;
}

#conclusion {
    border: 1px solid #afddd5;
    color: 	#451800;;
    background-color: #cee8e5;
    border-radius: 5px;
    padding: 10px;
}