<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/v_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Phenix+American">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="jumbotron text-center"style="background-color: #ffffff;">
            <img src="/static/assets/Mono_shroom.png" alt="Mushroom Logo" class="logo">
            <h1>got mushroom?</h1>
            <h3>Data Visualizations</h3>
        </div>
        <div>
            <h5>&nbsp;&nbsp;&nbsp;&nbsp;Welcome to our Mushroom Classifier Showcase! At the intersection of technology and nature, our cutting-edge machine learning model has been trained to tackle a critical question: "Is this mushroom safe to eat?" We are excited to present a series of data visualizations that not only demonstrate the incredible predictive power of our model but also shed light on the intricacies of the dataset it was trained on. These visualizations provide insights into how our model assigns weights to different features to determine the edibility of mushrooms, as well as uncover any potential biases in the data. Join us on a journey into the world of mushrooms, machine learning, and data transparency.</h5>
        </div>
        <div id="main">
            <div id="links">
                <div id="links-box">
                    <h5>Links:</h5>
                    <p><a = href="/" target="_blank">Main Page</a></p>
                    <p><a href="/machine-learning" class="machine-learning-link" target="_blank">Our Machine Learning Journey</a></p>
                    <p><a href="https://archive.ics.uci.edu/dataset/73/mushroom" target="_blank">Data Set</a></p>
                    <p><a href="https://github.com/pmarbibi12/project_4_shroomin.git"  target="_blank">Git Repository</a></p>
                </div>
            </div>
            <div id="visuals">
                <div>
                    <img src="/static/assets/visuals/poison_vs_eds_PIE.png">
                </div>
                <div class="analysis">
                    <p><b>Analysis:</b> The pie chart reveals a nearly balanced distribution of mushroom data, with approximately 51.8% categorized as edible and 48.2% as poisonous. This near equality between the two classes suggests that the dataset's class imbalance is relatively negligible. This balance simplifies model development and may reduce the need for extensive handling of class imbalances. However, it's still vital to address any potential data collection biases to ensure model fairness and reliability in predicting mushroom edibility.</p>
                </div>
                <div class="comparison">
                    <img src="/static/assets/visuals/bruises_eds.png">
                    <img src="/static/assets/visuals/bruises_poi.png">
                </div>
                <div class="legend">
                    <p><b>Legend:</b></p>
                    <p>t = Has Bruises&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;f = No Bruises</p>
                </div>
                <div class="analysis">
                    <p><b>Analysis:</b> The bar charts depict a correlation between the presence of bruises and mushroom edibility. Edible mushrooms are more likely to exhibit bruises, while poisonous mushrooms are more likely to be bruise-free. This suggests that the model assigns importance to the presence of bruises when classifying mushrooms as edible and conversely, it emphasizes the absence of bruises when considering mushrooms as potentially poisonous.</p>
                </div>
                <div class="comparison">
                    <img src="/static/assets/visuals/g_color_eds.png">
                    <img src="/static/assets/visuals/g_color_poi.png">
                </div>
                <div class="legend">
                    <p><b>Legend:</b></p>
                    <p>k = Black &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; n = Brown</p>
                    <p>b = Buff &nbsp;&nbsp; h = Chocolate</p>
                    <p>g = Gray &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; r = Green</p>
                    <p>o = Orange &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; p = Pink</p>
                    <p>u = Purple &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; e = Red</p>
                    <p>w = White &nbsp;&nbsp;&nbsp;&nbsp; y = Yellow</p>
                </div>
                <div class="analysis">
                    <p><b>Analysis:</b> The bar charts illustrate a distinct connection between the color of mushroom gills and their edibility. Edible mushrooms predominantly feature gills of white, brown, or pink hues, while poisonous counterparts are proportionally more likely to exhibit buff-colored gills. This underscores the significance of gill color in assessing a mushroom's suitability for consumption. Notably, it's worth mentioning that while pink ranks as the third most prevalent gill color for edible mushrooms, it occupies the second spot among poisonous mushrooms, hinting at a notable variation in the color profile between the two categories.</p>
                </div>
                <div class="comparison">
                    <img src="/static/assets/visuals/g_size_eds.png">
                    <img src="/static/assets/visuals/g_size_poi.png">
                </div>
                <div class="legend">
                    <p><b>Legend:</b></p>
                    <p>b = Broad Gills &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; n = Narrow Gills</p>
                </div>
                <div class="analysis">
                    <p><b>Analysis:</b> The bar charts presented above reveal a prevalent characteristic among edible mushrooms: the prominence of broad gills. However, when contrasting the distribution of broad gills and narrow gills in poisonous mushrooms, an interesting pattern emerges. While narrow gills do constitute a majority, the distribution is not as distinct for poisonous mushrooms featuring broad gills. This is precisely where the power of machine learning comes to the fore. Observing the graph for edible mushrooms allows one to infer that broad gills are a common feature in edibility. In contrast, when examining the graph for poisonous mushrooms, the inference becomes less straightforward, emphasizing the complexity and nuance inherent in determining their toxicity. These graphs underscore the significance of considering a range of characteristics beyond gill size when making determinations about a mushroom's edibility or toxicity.</p>
                </div>
                <div class="comparison">
                    <img src="/static/assets/visuals/odor_eds.png">
                    <img src="/static/assets/visuals/odor_poi.png">
                </div>
                <div class="legend">
                    <p><b>Legend:</b></p>
                    <p>a = Almond &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; l = Anise &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c = Creosote</p>
                    <p>y = Fishy &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; f = Foul &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; m = Musty</p>
                    <p>n = None &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; p = Pungent &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; s = Spicy</p>
                </div>
                <div class="analysis">
                    <p><b>Analysis:</b> Examining the bar chart for edible mushrooms, a clear pattern emerges: edible mushrooms predominantly exhibit no odor, followed by a pleasant aroma resembling almonds or anise, with the majority lacking any noticeable scent. In contrast, the bar chart for poisonous mushrooms reveals a stark contrast. An overwhelming number of these mushrooms emit foul odors, closely trailed by fishy and spicy scents. This stark difference highlights the significant role that odor plays in the determination of a mushroom's edibility or toxicity, emphasizing its utility as a distinguishing factor.</p>
                </div>
                <div class="comparison">
                    <img src="/static/assets/visuals/r_type_eds.png">
                    <img src="/static/assets/visuals/r_type_poi.png">
                </div>
                <div class="legend">
                    <p><b>Legend:</b></p>
                    <p>c = Cobwebby &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; e = Evanescent &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; f = Flaring &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; l = Large</p>
                    <p>n = None &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; p = Pendant &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; s = Sheathing &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; z = Zone</p>
                </div>
                <div class="analysis">
                    <p><b>Analysis:</b> The bar charts presented above provide a visual breakdown of ring types in both edible and poisonous mushrooms. In the case of edible mushrooms, the prevailing ring type is pendant-like, with evanescent rings following closely behind, and a smaller proportion exhibiting flaring rings. On the contrary, poisonous mushrooms predominantly feature evanescent rings, with a secondary presence of large rings, pendant rings, and a category of mushrooms with no rings. The coexistence of evanescent rings in both edible and poisonous varieties highlights the unreliability of using ring types as the sole determinant of edibility. Nevertheless, the graphs shed light on how the machine learning model assessed the significance of ring types in predicting edibility.</p>
                </div>
                <div class="comparison">
                    <img src="/static/assets/visuals/s_print_color_eds.png">
                    <img src="/static/assets/visuals/s_print_color_poi.png">
                </div>
                <div class="legend">
                    <p><b>Legend:</b></p>
                    <p>k = Black &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; n = Brown &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b = Buff</p>
                    <p>h = Chocolate &nbsp;&nbsp;&nbsp; r = Green &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o = Orange</p> 
                    <p>u = Purple &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; w = White  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; y = Yellow</p>
                </div>
                <div class="analysis">
                    <p><b>Analysis:</b> Now, let's direct our focus to the spore print colors of both edible and poisonous mushrooms. The data illustrates that brown and black spore prints dominate the spore print colors of edible mushrooms. Conversely, our dataset features a substantial number of poisonous mushrooms with white and chocolate spore prints. These bar charts underscore the fact that relying solely on mushroom spore print colors as a determinant of edibility or toxicity is an unreliable approach. Both edible and poisonous mushrooms share black, brown, and white spore print colors, complicating the task of differentiation based on spore prints. Additionally, the resemblance between brown and chocolate spore print colors further underscores the necessity of considering multiple factors in the determination of a mushroom's toxicity. </p>
                </div>
                <div class="comparison">
                    <img src="/static/assets/visuals/ssar_eds.png">
                    <img src="/static/assets/visuals/ssar_poi.png">
                </div>
                <div class="legend">
                    <p><b>Legend:</b></p>
                    <p>f = Fibrous &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; y = Scaly &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; k = Silky &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; s = Smooth</p>
                </div>
                <div class="analysis">
                    <p><b>Analysis:</b> In our final examination, we delve into the characteristics of the stalk surface of both edible and poisonous mushrooms. At first glance, it's evident that certain features in the stalk surface are shared between these two categories. Notably, a significant proportion of edible mushrooms in our dataset exhibit a smooth stalk surface. In contrast, poisonous mushrooms also display smooth stalks but are surpassed by those with a silky texture. Further exploration reveals that edible mushrooms exhibit diverse stalk surfaces, including fibrous, silky, and scaly textures. Similarly, in the case of poisonous mushrooms, while a portion has smooth and silky stalks, there are also instances of fibrous and scaly stalks, albeit at a smaller scale. Analyzing the bar charts sheds light on the weight assigned by our model to each stalk surface characteristic, providing insights into its contribution to classification.</p>
                </div>
                <div id="conclusion">
                    <h6>Conclusion:</h6>
                    <p>In summary, our exploration of various mushroom characteristics reveals the complexity of determining a mushroom's edibility or toxicity. While we haven't delved into every category in our dataset, the depicted charts offer valuable insights into the role of each characteristic in our machine learning model's decision-making process. These graphs also underscore the striking similarities in appearance, odor, and texture between edible and poisonous mushrooms. The endeavor of mushroom foraging, although enjoyable, should be approached with utmost caution, as the margin for error is slim. In such matters, it's advisable to defer to seasoned professionals with extensive expertise in the field, prioritizing safety above all else.</p>
                </div>
            </div>

        </div>
    </div>
</body>
</html>