<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="jumbotron text-center">
            <img src="/static/assets/Mono_shroom.png" alt="Mushroom Logo" class="logo">
            <h1>Got Mushroom?</h1>
            <h3>Data Visualizations</h3>
        </div>
    </div>
</body>
</html>