<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/results-graphic.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="jumbotron text-center">
            <h1>Got mushroom?</h1>
        </div>
        <div id="summary">
            <h3>Our mission:</h3>
            <p>Whether you are firing up the grill for a weekend cookout or embarking on a quest to save a princess from an evil turtle-like creature, mushrooms can be the key ingredient for success! Our goal is to make identifying both delicious and potentially poisonous mushrooms as easy as possible. Utilizing the power of machine learning and the extensive dataset we've collected from UC Irvine's Machine Learning Repository, we've developed a sophisticated model capable of predicting whether a mushroom is edible or poisonous with precision.</p>
        </div>
        <div id="main">
            <div id="facts">
                <div id="facts-border">
                    <h5>Mushroom Facts:</h5>
                    <li>A. phalloides (Death Cap) is one of the most poisonous of all known mushrooms. It is estimated that as little as half a mushroom contains enough toxin to kill an adult human.</li>
                    <li>'Death Cap' Mushrooms Pose Threat to dogs and humans and grow commonly in Wisconsin. If you see your pet eating a wild mushroom call your vet or poison control.</li>
                    <li>Matsutake mushrooms are the world's most expensive mushrooms. Their disappearing habitat in Japan causes the price to climb.</li>
                    <li>Scientists have classified 2,189 mushrooms as edible.</li>
                    <li>Some mushrooms glow in the dark. Bioluminescent mushrooms use light-emitting compounds to attract insects.</li>
                    <h6>References:</h6>
                    <p><a href="https://pubmed.ncbi.nlm.nih.gov/26375431/#:~:text=Amanita%20phalloides%2C%20also%20known%20as,amatoxins%2C%20phallotoxins%2C%20and%20virotoxins." target="_blank">pubmed.ncbi.nlm.nih.gov</a></p>
                    <p><a href="https://en.wikipedia.org/wiki/Amanita_phalloides#:~:text=reduced%20by%20cooking.-,A.,to%20kill%20an%20adult%20human." target="_blank">wikipedia.org</a></p>
                    <p><a href="https://www.finedininglovers.com/article/matsutake-mushrooms#:~:text=What%20are%20Matsutake%20Mushrooms%20and%20why%20are%20they%20More%20Precious%20Than%20Gold%3F&text=Matsutake%20mushrooms%2C%20the%20highly%2Dprized,the%20world's%20most%20expensive%20mushrooms." target="_blank">finedininglovers.org</a></p>
                    <p><a href="https://www.vetmed.wisc.edu/death-cap-mushrooms-pose-threat-to-dogs/"  target="_blank">vetmed.wisc.edu</a></p>
                    <p><a href="https://grocycle.com/mushroom-facts/#Mushroom_Fun_Facts"  target="_blank">grocycle.com</a></p>
                </div>
                <div id="links">
                    <h5>Links:</h5>
                    <p><a href="/data-visualizations" class="data-visualizations-link" target="_blank">Data Visualizations</a></p>
                    <p><a href="/machine-learning" class="machine-learning-link" target="_blank">Our Machine Learning Journey</a></p>
                    <p><a href="https://archive.ics.uci.edu/dataset/73/mushroom" target="_blank">Data Set</a></p>
                    <p><a href="https://github.com/pmarbibi12/project_4_shroomin.git"  target="_blank">Git Repository</a></p>
                </div>
            </div>
            <div id="input-panel">
                <h5>Found a mushroom?</h5>
                <div id="categories"></div>
                <p></p>
                <p>OR! Try these mushrooms!</p>
                <div id="predefined_mushrooms" class="container">
                </div>
            </div>
            <div id="results" class="container">
                <button id="checkEdible" onclick="is_edible()">
                    <img src="/static/assets/Edible_button.png" alt="Edible">
                </button>
                <div id="results-graphic">
                    <img src="/static/assets/confused.png">
                </div>
                <div id="results-text"></div>
                <div id="disclaimer"></div>
            </div>
        </div>
    </div>
    <script src="./static/js/script.js"></script>
</body>
</html>
